ul, ol, p, blockquote{
    margin: 0 !important;
}

.content-creation-textarea {
    display: block;
    padding: var(--size-4-3) var(--size-4-4);
    min-height: 38px;
    background-color: var(--code-background);
    border-radius: var(--code-radius);
    overflow-x: auto;
    margin-top: 15px;
}
.content-creation-textarea *{
    color: var(--code-normal);
    /*font-family: var(--font-monospace);*/
    font-size: 0.95em;
}